/* Import Google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  background: #e3f2fd;
}

.heading {
  padding: 5vmin;
}

.wrapper {
  width: 90vmin;
  height: 115vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.left .controls {
  width: 15vmin;
  height: 100%;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right .controls {
  width: 15vmin;
  height: 100%;
}

.game-details {
  color: #b8c6dc;
  font-weight: 500;
  font-size: 1rem;
  padding: 15px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #ff003d;
}
.play-board .head {
  background: #60cbff;
}

.controls {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: inset -5px -4px 34px -14px rgba(23, 27, 38, 1);
  -moz-box-shadow: inset -5px -4px 34px -14px rgba(23, 27, 38, 1);
  box-shadow: inset -5px -4px 34px -14px rgba(23, 27, 38, 1);
}

.controls i {
  padding: 20px 0;
  color: #b8c6dc;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #171b26;
  display: flex;
  align-items: center;
  justify-content: center;
}
